.header {
  display: flex;
  align-items: center;
  height: 80px;
  border: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
.container-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
}
.cont-link {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.cont-link .item-cont:not(:first-child) {
  margin-left: 50px;
}

.current::after {
  content: "";
  position: relative;
  display: block;
  bottom: -29px;
  left: 0px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.nav-links.current {
  color: var(--accent-color);
}
.nav-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-links:focus,
.nav-links:hover {
  color: var(--accent-color);
}

.contacts-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.contacts-icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover .contacts-icon-mail,
.contacts-link:focus .contacts-icon-mail {
  fill: var(--accent-color);
}
.contacts-link:hover .contacts-icon-phone,
.contacts-link:focus .contacts-icon-phone {
  fill: var(--accent-color);
}
